h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(126, 117, 255);
    text-align: center;
    padding: 20px;
}
p {
    color: white;
}




body {
    background-color: rgb(67, 67, 67)!important;
}


  

